.has-bg-img {
  background: url(./components/images/gamergirl.png) center;
  background-size: cover;
}

.has-bg-img2 {
  background: url(./components/images/girlandboy.jpg) center;
  background-size: cover;
}

.has-bg-img3{
  background: url(./components/images/kittys.jpg) center;
  background-size: cover;
}

.has-bg-img4{
  background: url(./components/images/space.jpg) center;
  background-size: cover ;
}

.header-title{
  font-family: source-code-pro,monospace;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 5px black;
}

.header-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 40px;
  text-align: center;
}

.footer-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 40px;
  text-align: left;
}
.card-header-title{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 40px;
  text-align: center;

}


.card-header-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: center;
}


.header-title2{
  font-family: source-code-pro,monospace;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 5px black;

}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  width: 25rem;
  height: 35rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  
  margin: 1rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);

}

@media screen and (min-width: 700px){
  .card-wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .card {
      margin: 1rem;
  }
}

.form-control {
  width: 40%;
}

.button-size {
  height: 20%;
  text-align: center;
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 40px;
  text-align: center;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.overlay:hover{
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
}

.card-image{
  height: 100%;
  width: 100%;
}

.category-header{
  font-size: 30px;
  text-align: center;
  color: white;
}
